body{
    background-image: url(/atv-pratica01/ex1/img/techbackground.jpg);
    justify-content: center;
}   

main{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 150px;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

p{ 
    font-size: 16px;   
}

main img{
    max-width: 500px;
}